<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        https://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.mk.demos.spring.hibernate"/>

    <bean id="dbcp2DataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://192.168.52.134:3306/mktest"/>
        <property name="username" value="wangchen"/>
        <property name="password" value="wangchen@123"/>
    </bean>

    <bean id="hibernate5SessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dbcp2DataSource"/>
        <property name="packagesToScan">
            <list>
                <value>com.mk.demos.spring.hibernate.model</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <value>
                hibernate.show_sql=true
                hibernate.format_sql=true
<!--                hibernate.hbm2ddl.auto=update-->
                hibernate.dialect=org.hibernate.dialect.MySQL57Dialect
                hibernate.connection.characterEncoding=UTF-8

                <!--         #开启二级缓存-->
<!--                hibernate.cache.use_second_level_cache=true-->
                <!--         #设置二级缓存的提供者-->
<!--                hibernate.cache.provider_class=org.hibernate.cache.EhCacheProvider-->
            </value>
        </property>
    </bean>

    <bean id="txManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate5SessionFactory"/>
<!--        <property name="nestedTransactionAllowed" value="true"/>-->
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="hibernate5SessionFactory"/>
    </bean>
</beans>