<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mk.demos.spring.cloud.nacos.config.dao.UserInfoMapper">
    <!--<insert id="save" parameterType="com.mk.demos.spring.boot.test.model.User">
        INSERT INTO user(name, password)
                VALUES (#{name}, #{password})
    </insert>-->

    <select id="findById" resultType="com.mk.demos.spring.cloud.nacos.config.model.UserInfo">
        SELECT * FROM user_info WHERE id = #{id}
    </select>
</mapper>