<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        @Configuration
        @EnableAspectJAutoProxy
    -->
    <!-- Enabling @AspectJ Support with XML Configuration -->
    <aop:aspectj-autoproxy/>
    <context:component-scan base-package="com.mk.demos.spring.annotation"/>

    <context:annotation-config/>
    <bean id="userService" class="com.mk.demos.spring.annotation.service.UserService">
        <!-- collaborators and configuration for this bean go here -->
<!--                <property name="userDAO" ref="userDAO"/>-->
    </bean>
    <bean id="userDAO1" class="com.mk.demos.spring.annotation.dao.UserDAO">
        <!-- collaborators and configuration for this bean go here -->
        <property name="userDAOId" value="1"/>
    </bean>

    <bean class="com.mk.demos.spring.annotation.aop.LogInterceptor"/>

</beans>